.about-container {
  display: flex;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.about-text-container > h1 {
  color: black;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.about-text-container > p {
  margin-top: 8px;
  color: black;
  font-size: 1.3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.img-container {
  background: url("/public/images/coding1.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .about-text-container > h1 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-text-container > p {
    padding-bottom: 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .about-text-container > h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-text-container > p {
    padding-bottom: 20px;
    font-size: 18px;
  }

  .img-container {
    display: none;
  }
}
