.product-container {
  background-color: lightblue;
  display: flex;  
  
 }
.course-container{ 
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;  
}

.course-style {
  display: flex;
  max-width: 400px;
  justify-content: center;
  margin-bottom: 30px;  
}

.card-style{
  width: 18rem;
  margin-top: 1rem;
  display: grid;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shopping-btn{
  background-color: lightgrey;
  border:none;
}

.body {  
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: fit-content;
  position: relative;
}

.cart {
  margin-top: 20px;
  margin-right: 20px;
  border: solid 3px white;
  padding: 10px;
  min-width: 300px;
}

html {
  max-width: 90%;
  margin: auto;
  padding: 30px;
  background-color: lightgrey;
}